<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Development\GoingOnce Deploy\GoingOnce.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=goingonce;Persist Security Info=True;User ID=goingonce;Password=g01ng0nc3" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GoingOnce.Models.ApplicationDbContext, GoingOnce" MigrationConfiguration="GoingOnce.Migrations.Configuration, GoingOnce" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuctionItemModel" Order="2" Enabled="False">
          <Destination Path="Data Source=GOINCEONCE\SQLEXPRESS;Initial Catalog=goingonce;Persist Security Info=True;User ID=goingonce;Password=g01ng0nc3" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=GoingOnce.AuctionItemModel;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuctionItemModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GoingOnce.AuctionItemModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AuctionBidModel" Order="3" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=goingonce;Persist Security Info=True;User ID=goingonce;Password=g01ng0nc3" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=GoingOnce.Models.AuctionBidModel;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuctionBidModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GoingOnce.Models.AuctionBidModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Organization" Order="4" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=goingonce;Persist Security Info=True;User ID=goingonce;Password=g01ng0nc3" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=GoingOnce.Organization;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Organization_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GoingOnce.Organization;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AuctionEvent" Order="5" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=goingonce;Persist Security Info=True;User ID=goingonce;Password=g01ng0nc3" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=GoingOnce.AuctionEvent;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AuctionEvent_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GoingOnce.AuctionEvent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ReportModel" Order="6" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=goingonce;Persist Security Info=True;User ID=goingonce;Password=g01ng0nc3" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=GoingOnce.Models.ReportModel;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ReportModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GoingOnce.Models.ReportModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BaseModel" Order="7" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=goingonce;Persist Security Info=True;User ID=goingonce;Password=g01ng0nc3" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=GoingOnce.Models.BaseModel;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BaseModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GoingOnce.Models.BaseModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Bidder" Order="8" Enabled="False">
          <Destination Path="Data Source=.\SQLEXPRESS;Initial Catalog=goingonce;Persist Security Info=True;User ID=goingonce;Password=g01ng0nc3" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=GoingOnce.Bidder;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Bidder_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=GoingOnce.Bidder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuctionBidModel-Web.config Connection String">
      <ParameterValue>data source=.\SQLEXPRESS;initial catalog=goingonce;persist security info=True;user id=goingonce;password=g01ng0nc3;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuctionEvent-Web.config Connection String">
      <ParameterValue>data source=.\SQLEXPRESS;initial catalog=goingonce;persist security info=True;user id=goingonce;password=g01ng0nc3;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuctionItemModel-Web.config Connection String">
      <ParameterValue>data source=GOINCEONCE\SQLEXPRESS;initial catalog=goingonce;persist security info=True;user id=goingonce;password=g01ng0nc3;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BaseModel-Web.config Connection String">
      <ParameterValue>data source=.\SQLEXPRESS;initial catalog=goingonce;persist security info=True;user id=goingonce;password=g01ng0nc3;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Bidder-Web.config Connection String">
      <ParameterValue>data source=.\SQLEXPRESS;initial catalog=goingonce;persist security info=True;user id=goingonce;password=g01ng0nc3;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLEXPRESS;Initial Catalog=goingonce;Persist Security Info=True;User ID=goingonce;Password=g01ng0nc3</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Organization-Web.config Connection String">
      <ParameterValue>data source=.\SQLEXPRESS;initial catalog=goingonce;persist security info=True;user id=goingonce;password=g01ng0nc3;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ReportModel-Web.config Connection String">
      <ParameterValue>data source=.\SQLEXPRESS;initial catalog=goingonce;persist security info=True;user id=goingonce;password=g01ng0nc3;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>